/*--- page ---*/

body {
	padding: 0;
	margin: 0;
	background: #e4e4e4;
}


.navbar {
	display: flex;
	background: #6ab446;
	padding-left:10px;
	padding-right:10px;
}

.nav-link,
.navbar-brand {
	color: #fff;
	cursor: pointer;
}

.nav-link {
	margin-right: 1em !important;
}

.nav-link:hover {
	color: #000;
}

.navbar-collapse {
	justify-content: flex-end;
}

/*--- header ---*/

.header {
	/*background-image: url('//C:/Users/Sowmahi7//Documents/Fullstack Training/Fullstack-Mini-Project/images/header-background3.jpg');*/
	background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
}
.header:hover{
	opacity: 0.7;
}

.overlay {
	position: absolute;
	min-height: 100%;
	min-width: 100%;
	left: 0;
	top: 0;
	background: rgba(0, 0, 0, 0.6);
}

.description {
	left: 50%;
	position: absolute;
	top: 45%;
	transform: translate(-50%, -55%);
	text-align: center;
}

.description h1 {
	color: #6ab446;
}

.description p {
	color: #fff;
	font-size: 2rem;
	line-height: 1.5;
}

.description button {
	border: 1px solid #6ab446;
	background: #6ab446;
	border-radius: 0;
	color: #fff;
}

.description button:hover {
	border: 1px solid #fff;
	background: #fff;
	color: #000;
}

/*--- feature section ---*/

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}

.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-align:center;
	text-transform: uppercase;
}
.features p{
	text-align:justify;
	font-size:15px;
}
.features img {
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
	
	width:100%
}
div.features img:hover{
	transform: scale(1.1,1.1);
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
	
}

.features .form-control,
.features input {
	border-radius: 0;
}

.features .btn {
	background-color: #589b37;
	border: 1px solid #589b37;
	color: #fff;
	margin-top: 20px;
}

.features .btn:hover {
	background-color: #333;
	border: 1px solid #333;
}

input[type=text],email,select,textarea{
		  width: 100%;
		  padding: 14px 25px;
		  margin: 4px 0;
		  display: block;
		  border: 1px solid #ccc;
		  border-radius: 4px;
		  box-sizing: border-box;
		}
input[type=submit]{
		  width: 50%;
		  background-color: #04AA6D;
		  padding: 14px 20px;
		  margin-left: 100px ;
		  border: none;
		  border-radius: 4px;
		  cursor: pointer;
		  float:left;
		}
        
		/*pseudo-class selector*/
		input[type=submit]:hover {
		  background-color: green;
		}
		
		.intro{
			background-color:black;
			
			opacity:0.9;
			color: white;
			padding:20px;
			text-align: justify;
			font-size: 20px;
	
		}
		div.intro h2{
		color:#6ab446;
		text-align:center;
		 }
		div.intro>h2::after{
			 content:" ?";
			 color: white;
			 font-size: 42px;
			 
		 }


.blog{
    margin: 4em 0;
    position: relative; 
   }
   .blog h1{
    color:#F97300;
    margin: 2em; 
   }
   .blog .card{
    box-shadow: 0 0 20px black;
	
   }
   div.card1:hover{
	   transform: scale(1.1,1.1);
   }
   div.card2:hover{
	   opacity:0.6;
	   transform: rotatey(180deg);
   }
   div.card3:hover{
	   opacity:0.6;
			transform: skewX(20deg);
   }
   div.card4:hover{
	   opacity:0.6;
		transform: matrix(1, -0.3, 0, 1, 0, 0);
   }
   div.card5:hover{
	   opacity:0.6;
		transform: translate(50px, 100px);
   }
   div.card6:hover{
	   animation: shake 0.5s;
	  animation-iteration-count: infinite;
   }
   @keyframes shake {
	  0% { transform: translate(1px, 1px) rotate(0deg); }
	  25% { transform: translate(-3px, 0px) rotate(1deg); }
	  50% { transform: translate(-1px, 2px) rotate(-1deg); }
	  75% { transform: translate(3px, 1px) rotate(-1deg); }
	  100% { transform: translate(1px, -2px) rotate(-1deg); }
	}
   
	   
   .blog .card img{
    width: 100%;
    height: 12em;
   }
   .blog .card-title{
    color:#F97300;
	
     
   }
   .blog .card-body{
    padding: 1em;
   }

/*--- footer ---*/

.page-footer {
	background-image: linear-gradient(black,gray);
	color: #ccc;
	padding: 60px 0 30px;
	margin-top:8px;
}

.footer-copyright {
	color: rgb(255, 255, 255);
	padding: 40px 0;
	text-shadow: 2px 2px 4px black;
}
footer h2{
	text-shadow: 2px 2px 5px black;
}


/*--- media queries ---*/


@media (max-width: 575.98px) {

	.description {
		left: 0;
		padding: 0 15px;
		position: absolute;
		top: 10%;
		transform: none;
		text-align: center;
	}
	
	.description h1 {
		font-size: 2em;
	}
	
	.description p {
		font-size: 1.2rem;
	}
	
	.features {
		margin: 0;
	}
}

@media screen and (max-width: 700px) {
  .navbar {   
    flex-direction: column;
  }
}

.flexRow {
		display: flex;
        flex-wrap: wrap;
	    padding: 0 10px;
	  }
	  
	  /* Create four equal columns*/
	  .flexColumn {
		flex: 25%;
        max-width: 25%;
	  }
	  
	  .flexColumn img {
		vertical-align: middle;
		border-radius: 8px;
		margin-top:8px;
		
	  }
	  .flexColumn img:hover{
		transform: scale(1,1.2);
		border: 1px solid whitesmoke;
		
		box-shadow: 2px 2px 8px whitesmoke;
	  }
	  @media (max-width: 720px) {
		.flexColumn {
		  flex: 50%;
		  max-width: 50%;
		}
		.flexColumn img{
			margin-top: 4px;
		}
	  }
	  	 
	  @media (max-width: 420px) {
		.flexColumn {
		  flex: 100%;
		  max-width: 100%;
		}
		.flexColumn img{
			margin-top: 4px;
		}
	  }
	  
	 .cancelbtn {
	  width: 20%;
	  padding: 10px 18px;
	  background-color: red;
	  margin:2px 180px;
	  
    }
	div.form-container {
		  border-radius: 5px;
		  background-color: black;
		  opacity:1;
		  padding: 20px;
		  width:50%;
		  margin-left: 25%;
		}

	.modal {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  left:0;
	  top: 0;
	  width: 50; /* Full width */
	  height: 100%; /* Full height */
	  overflow:hidden; /* Enable scroll if needed */
	  background-color: transparent; /* Fallback color */
	  background-size: center;
	  padding: 60px;
	  margin-left:150px 2px 150px;
    }

	